#map--container {
  width: 100%;
  height: 100vh;
}

.ib {
  display: inline-block !important;
}

div.ib {
  line-height: 2;
}


.home--description {
  padding: 2em;
  .home--details {
    display: block;
    font-size: 1.25em;
    span {
      color: green;
      font-size: 1.5em;
      padding: 1.2em;
    }
  }
}