<template name="applicationLayout">
  <div class="ui sidebar inverted vertical menu visible">
    <a class="brand item">
      <h1>Scotiabank Hackit</h1>  
    </a>
    <a class="item">
      <img class="ui medium circular image" src="http://placehold.it/150x150">
    </a>
    <a class="item">
      {{currentUser.profile.name}}
      <i role="logout" class="remove icon"></i>
    </a>
  </div>
  <div class="pusher">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          {{> yield}}
        </div>
      </div>
    </div>
    <div id="menu--button" class="ui icon green button">
      <i class="settings icon"></i>
      Sidebar
    </div>
  </div>
</template>