<template name="applicationLayout">
  <div class="ui sidebar inverted vertical menu visible">
    <div class="brand item">
      <h1>Scotiabank Hackit</h1>  
    </div>
    <div class="item">
      <img class="ui small circular image" src="http://placehold.it/150x150">
    </div>
    <div class="item">
      {{currentUser.profile.name}}
      <i role="logout" class="remove icon"></i>
    </div>
    <div class="item">
      <input
        id="salary" 
        type="range"
        min="10"                   
        max="1000"               
        step="10"                
        value="0"
      >
      <span id="salary--value" class="range--value">0</span>
    </div>
  </div>
  <div class="pusher">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          {{> yield}}
        </div>
      </div>
    </div>
    <div id="menu--button" class="ui icon green button">
      <i class="settings icon"></i>
      Sidebar
    </div>
  </div>
</template>