<template name="applicationLayout">
  <div class="ui sidebar inverted vertical menu visible">
    <div class="brand item">
      <h1>Scotiabank Hackit</h1>  
    </div>
    <div class="item">
      <img class="ui small circular image" 
        src="{{currentUser.profile.picture}}">
    </div>
    <div class="item">
      {{currentUser.profile.name}}
      <i role="logout" class="remove icon"></i>
    </div>
    <div class="item">
      <div class="ui accordion">
        <div class="title">
          <i class="white dropdown icon"></i>
          <p style="display: inline-block;" class="white">Basic Settings</p>
        </div>
        <div class="content">
          <div class="item">
            <h4>Annual Salary <span>$0 - 250k</span></h4>
            <input
              id="salary" 
              type="range"
              min="0"                   
              max="250000"               
              step="1000"                
              value="0"
            >
            <div class="ui input">
              <input type="number" id="salary--value" class="range--value" value="0">
            </div>
          </div>
          <div class="item">
            <h4>Total Debt <span>$0 - 250k</span></h4>
            <input
              id="debt" 
              type="range"
              min="0"                   
              max="250000"               
              step="100"                
              value="0"
            >
            <div class="ui input">
              <input type="number" id="debt--value" class="range--value" value="0">
            </div>
          </div>
          <div class="item">
            <h4>Monthly Expenses <span>$0 - 20k</span></h4>
            <input
              id="expenses" 
              type="range"
              min="0"                   
              max="20000"               
              step="10"                
              value="0"
            >
            <div class="ui input">
              <input type="number" id="expenses--value" class="range--value" value="0">
            </div>
          </div>
          <div class="item">
            <div id="submitBasicSettings" class="ui labeled icon inverted blue button">
              <i class="plus icon"></i>
              Save Basic Settings
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui accordion">
        <div class="title">
          <i class="white dropdown icon"></i>
          <p style="display: inline-block;" class="white">Advanced Settings</p>
        </div>
        <div class="content">
          <div class="item">
            <h4>Amortization <span>0 - 30 years</span></h4>
            <input
              id="amortization" 
              type="range"
              min="0"                   
              max="30"               
              step="1"                
              value="25"
            >
            <div class="ui input">
              <input type="number" id="amortization--value" class="range--value" value="25">
            </div>
          </div>
          <div class="item">
            <div class="ui dropdown">
              <input type="hidden" name="interest-rate">
              <i class="dropdown icon"></i>
              <div id="interest-rate" class="default white text">Interest Rate</div>
              <div class="menu">
                <div disabled class="disabled item">
                  Fixed Rate Mortgage
                </div>
                <div class="divider"></div>
                {{#each fixedRateMortgage}}
                  <div class="item">
                    {{key}} <span class="rate--value">{{value}}%</span>
                  </div>
                {{/each}}
                <div class="divider"></div>
                <div disabled class="disabled item">
                  Variable Rate Mortgage
                </div>
                <div class="divider"></div>
                {{#each variableRateMortgage}}
                  <div class="item">
                    {{key}} <span class="rate--value">{{value}}%</span>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>          
          <div class="item">
            <div id="submitAdvancedSettings" class="ui labeled icon inverted green button">
              <i class="plus icon"></i>
              Save Advanced Settings
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pusher">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          {{> yield}}
        </div>
      </div>
    </div>
    <div id="menu--button" class="ui icon green button">
      <i class="settings icon"></i>
      Sidebar
    </div>
  </div>
</template>