.pusher {
  width: 100%;
  height: 100%;
}

#menu--button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

[role="logout"] {
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.ui.sidebar {
  overflow-y: scroll;
  .item {
    img {
      margin: 0 auto;
    }
    .range--value {
      float: right;
    }
  }
}